@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

.rectangle-1 {
    background-color: #393e46;
    background-image: url("https://www.transparenttextures.com/patterns/noisy.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-2 {
    background-color: rgba(92,99,110, 0.1);
    width: 1450px;
    height: 700px;
    display: flex;
    flex-direction: column;
}

.square {
    background-color: rgba(205,213,224, 0.2);
    width: 401px;
    height: 496px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 453px;
    height: 344px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img {
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 350px;
}

nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav img {
    height: 80px;
    margin-top: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.nav-link {
    color: #F7F7F7;
    font-size: 17px;
}

.nav-link:not(:last-of-type):after {
    display: block;
    content: '';
    border-bottom: solid 3px #E0AF64;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
}

.nav-link:after {
    transform-origin: 0% 50%;
}

.rectangle-2-content {
    display: flex;
}

.main-title {
    font-size: 6rem;
    margin: 0;
    letter-spacing: 1px;
    opacity: 0.90;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
}

.vertical-line {
   height: 2px;
    background-color: #F7F7F7;
    width: 550px;
}

.title-cont {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#F7F7F7 ;
}

.we-are-open {
    background-color: #E0AF64;
    color: #F7F7F7;
    font-family:'Great Vibes', cursive;
    letter-spacing: 2px;
    font-size: 1.625rem;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    opacity: 0.8;
    box-shadow: 0px 4px 4px rgba(224, 175, 100, 0.25);
    cursor: pointer;
}

.we-are-open:hover {
    opacity: 1;
}

.social-links-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    width: 27px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}

.social-link:hover {
    transform: scale(1.1);
}

.about-div {
    height: 100vh;
    background-color: #f7f7f7;
    background-image: url("https://www.transparenttextures.com/patterns/noisy.png");
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-div {
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

.image-div img {
    width: 364px;
    height: 468px;
    margin-left: 20px;
}

.about-div p {
    width: 50%;
    line-height: 1.6;
    text-align: justify;
}

.opening-hours-div {
    height: 100vh;
    background-color: #393e46;
    background-image: url("https://www.transparenttextures.com/patterns/noisy.png");
    display: flex;
    justify-content: center;
    align-items: center;
}

.opening-hours-box {
    background-color: #F7F7F7;
    color: #393E46;
    border: 2px solid #393E46;
    border-radius: 20px;
    width: 25%;
    height: 80%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1rem;
    padding: 30px 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opening-hours-box p {
    display: flex;
    justify-content: space-between;
}

.contact-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f7f7f7;
    background-image: url("https://www.transparenttextures.com/patterns/noisy.png");
}



.contact-boxes-div {
    display: flex;
}

.contact-box {
    background-color: #393E46;
    border-radius: 20px;
    width: 320px;
    height: 96px;
    display: flex;
    flex-direction: column;
    
     margin: 30px;
    align-items: center;
    padding: 10px;
    color: #F7F7F7;
    box-shadow: 0px 4px 4px rgba(57, 62, 70, 0.25);
    transition: 0.3s ease-in; 
}

.contact-box:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.contact-box header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-box img {
    width: 25px;
}

.menu-cont {
    font-size: 0.8rem;
    padding: 0 50px;
    background-color: #393e46;
    background-image: url("https://www.transparenttextures.com/patterns/noisy.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F7F7F7;
    line-height: 1.6;
}

.title {
    font-size: 1.5rem;
    text-align: center;
}

.underline {
    height: 3px;
    width: 300px;
    background-color: #E0AF64;
    margin: auto;
}

.subtitle {
    text-align: center;
}

.header-items {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 2px;
    border-color: #E0AF64;
}

.menu-sale {
    display: flex;
    flex-direction: column;
}

.food-images {
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.photo {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
    margin: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.bar {
    border: solid 3px;
    border-color: #F7F7F7;
    width: 300px;
    text-align: center;
    margin: 50px;
}

.menu-item {
    margin-left: 50px;
    width: 300px;
    margin-right: 50px;
}

.menu-sucre {
    display: flex;
    flex-direction: column;
}

.coffee-menu {
    display: flex;
}

.menu-section {
    width: 300px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

.coffee-type {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.coffee-desc {
    padding-left: 20px;
    margin-top: -10px;
    font-size: 0.8rem;
}

.food-menu-flex {
    display: flex;
    margin: 30px;
}

.menu-bar {
    display: flex;
    flex-direction: column;
}



.heading {
    border-bottom: solid 2px #E0AF64;
    display: flex;
    justify-content: space-between;
    border-top: solid 2px #E0AF64;
    margin: 25px;
    padding: 20px 0 0 0;
}

.reviews {
    height: 100vh;
    background-color: #f7f7f7;
    background-image: url("https://www.transparenttextures.com/patterns/noisy.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.reviews h1 {
    border-bottom: 3px solid #E0AF64;
    width: 300px;
    text-align: center;
   
}



.review-box  {
    display: none;
    background-color: #393e46;
    color: #F7F7F7;
    border: none;
    border-radius: 15px;
    width: 35%;
    
    padding: 20px;
    margin-top: 70px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(42,33,19,0.35); 
    box-shadow: 5px 5px 15px 5px rgba(42,33,19,0.35);
    line-height: 1.9;
}

.review-box-with-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-box-with-btn button {
    margin: 50px;
    width: 50px;
    height: 50px;
    background-color: #F7F7F7;
    color: #393E46;
    border: none;
    border-radius: 10px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

footer  {
    
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    
}
.links {
    display: flex;
    flex-direction: column;
   
}


.main-links {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding:6px;
    margin-right: 15px;
    text-align: center;
    
}

.main-links a {
    margin: 3px;
}

.main-links a:hover {
    color: #E0AF64;
}




.footer-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer img {
    margin: 15px;
    height: 90px;
}

footer a {
    color: #393E46;
}

@media only screen and (max-width: 800px) {

    .rectangle-2 {
        background-color: rgba(92,99,110, 0.1);
        width: 1450px;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    .rectangle-2-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .title-cont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color:#F7F7F7 ;
    }

    .main-title {
        font-size: 3rem;
        font-weight: 300;
        margin: 0;
        letter-spacing: 1px;
        opacity: 0.90;
        font-family: 'Quicksand', sans-serif;
        font-weight: 500;
       
    }

    .square {
        background-color: rgba(205,213,224, 0.2);
        width: 301px;
        height: 396px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .container {
        width: 353px;
        height: 344px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container img {
        width: 100%;
        height: auto;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-left: 300px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        
    }

    .image-div {
        margin: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
       
    }

    .image-div img {
        width: 264px;
        height: 368px;
        margin-top: 20px;
    }

    .opening-hours-box {
        background-color: #F7F7F7;
        color: #393E46;
        border: 2px solid #393E46;
        border-radius: 20px;
        width: 25%;
        height: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 1rem;
        padding: 30px 100px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }

    .food-images {
        width: 200px;
        
        display: flex;
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: center;
    }

    .photo {
        width: 200px;
        height: 200px;
        /* margin-bottom: 20px; */
        /* margin: 30px; */
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .contact-box {
        background-color: #393E46;
        border-radius: 20px;
        width: 180px;
        height: 86px;
        display: flex;
        flex-direction: column;
         
        margin: 10px;
        align-items: center;
        padding: 10px;
        color: #F7F7F7;
        /* padding: 15px; */
        box-shadow: 0px 4px 4px rgba(57, 62, 70, 0.25);
        transition: 0.3s ease-in; 
       
    }

    
    
}





